body{
    background-color:beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


    font-size: 10px;
}
.Classe{
    background-color: rgb(75, 47, 47);
    width: 1350px;
    height: 100px;
    font-size: 20px;
   
}


.Classe button{
    margin-top: 2%;
    padding: 10px 20px;
    background-color: #f3f3f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
}

.Classe button:hover{   
  background-color: #008cba;
}

.Classe button:active{
  background-color: #008CBA;
}

.IMG{
    margin-left: 80%;
    
}
.IMG_2{
    margin-top: -10%;

}
.titulo{
    margin-top: -10%;
}